
.classifier
  
  .stats
    margin-top 55px
    border-left 1px solid rgb(0, 52, 96)
    border-bottom 1px solid rgb(0, 52, 96)
    box-sizing border-box
    
    .stat
      display inline-block
      margin 0
      width 130px
      border-right 1px solid rgb(0, 52, 96)
      
      .number
        color #FFF
        font-size 24px
        font-weight 100
        text-shadow 0 1px 0 #013A66
        padding-left 20px
        margin 0
        
      .description
        color #000d18
        font-size 9px
        padding-left 20px
        font-weight 600
        text-shadow 0px 1px 0px rgba(255, 255, 255, 0.25)
        text-transform uppercase
  
  .overflow
    width 100%
    overflow hidden
    
    .subjects
      width 400%
      margin-top 64px
      white-space nowrap
      
      .subject
        display inline-block
        width 401px
        background rgb(219, 219, 219)
        margin-right 100px
        padding 0
        
        transition all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
        -webkit-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
        -moz-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
        transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
        
        &.to-remove
          width 0
          margin-right 0
        
        .image
          height 401px
        
        .controls
          width 401px
          height 50px
          white-space nowrap
          color #000
          font-size 12px
          font-weight 700
          
          .control
            display inline-block
            cursor pointer
            width 90px
            height 50px
            border-right 1px solid rgb(0, 52, 96)
            box-sizing border-box
            
            &:last-child
              border none
              position relative
              top -20px
              left 5px
              &:hover
                color rgb(226, 86, 0)
            
            .icon
              width 30px
              height 30px
              position relative
              top 14px
              left 35px
              
            &[data-type='heart']
              .icon
                background url('images/icon-sprite.png') 0 -34px no-repeat
                &:hover
                  background-position 0 2px
            &[data-type='discuss']
              .icon
                background url('images/icon-sprite.png') -40px -34px no-repeat
                &:hover
                  background-position -40px 2px
            &[data-type='dashboard']
              .icon
                background url('images/icon-sprite.png') -78px -34px no-repeat
                &:hover
                  background-position -78px 2px