
.classifier
  
  .mask
    display none
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background #000
    z-index 2
    opacity 0
    
    transition opacity 1950ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
    -webkit-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
    -moz-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
    transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
    
    &.show
      display block
      opacity 0.9
  
  .side-mask
    position absolute
    top 0
    right 0
    width 30%
    height 100%
    background -webkit-linear-gradient(right, rgba(10, 10, 10, 255), rgba(0, 0, 0, 0))
    z-index 2
  
  .stats
    border-left 1px solid rgb(0, 52, 96)
    border-bottom 1px solid rgb(0, 52, 96)
    box-sizing border-box
    
    .stat
      display inline-block
      margin 0
      width 143px
      border-right 1px solid rgb(0, 52, 96)
      
      .number
        color #FFF
        font-size 24px
        font-weight 100
        text-shadow 0 1px 0 #013A66
        padding-left 20px
        margin 0
        
      .description
        color #000d18
        font-size 9px
        padding-left 20px
        font-weight 600
        text-shadow 0px 1px 0px rgba(255, 255, 255, 0.25)
        text-transform uppercase
  
  svg.primary
    position absolute
    position absolute
    width $img-dim
    height $img-dim
    margin-top 64px
    z-index 3
  
  .viewer
    display none
    position absolute
    width $img-dim
    margin-top 64px
    z-index 0
    
    &.show
      display block
      z-index 2
  
  .overflow
    width 100%
    overflow hidden
    padding 0
    
    .subjects
      width 400%
      margin-top 64px
      white-space nowrap
      z-index 0
      padding 0
      
      .subject
        display inline-block
        width $img-dim
        height $img-dim + 60
        margin-right 100px
        
        transition margin-left 450ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
        -webkit-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
        -moz-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
        transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
        
        &.current
          margin-left 0
          z-index 10
        
        &.removing
          margin-left -1 * $img-dim - 100px
        
        .image
          position relative
          width $img-dim
          height $img-dim
        
        &:first-child
          .image
            cursor crosshair
        
        svg, img
          position absolute
          width 100%
          height 100%
          top 0
          left 0
        svg
          z-index 2