
.science
  .content
    width 700px
    padding-bottom 30px
    color #000D18
    
    section
      display none
      
      &.show
        display block
    
    ul.menu
      margin 0
      padding 0
      text-shadow 0px 1px 0px rgba(255, 255, 255, .25)
      text-transform uppercase
      padding-bottom 30px
      
      li
        display inline-block
        color #000D18
        font-size 13px
        font-weight 200
        margin-right 3px
        padding-bottom 4px
        cursor pointer
        
        &.show
          border-bottom 1px solid #e15500
    
    h2
      font-size 20px
      font-weight 200
      line-height 26px
      text-shadow 0px 1px 0px rgba(255, 255, 255, .25)
      margin-bottom 30px

    h4
      font-size 16px
      font-weight 200
      text-shadow 0px 1px 0px rgba(255, 255, 255, .25)
      margin-bottom 10px
      
    p
      color #FFF
      font-size 14px
      letter-spacing 1px
      font-weight 200
      line-height 20px
      text-shadow 0px 1px 0px #013A66
      margin-bottom 40px
      