
.controls
  width 100%
  height 12%
  background rgb(233, 233, 233)
  
  a
    box-sizing border-box
    width 20%
    height 100%
    float left
    color #404040
    border-right 1px solid rgb(206, 206, 206)
    text-align center
    font-weight 700
    font-size 12px
    text-decoration none
    
    &:last-child
      width 40%
      height 100%
      border none
      background none
      padding-top 22px
      
      &:hover
        background rgb(217, 217, 217)
        color rgb(226, 84, 0)
    
    .icon
      width 30px
      height 30px
      margin 18% 0 0 34%
      background url('images/icon-sprite.png') no-repeat
      
      &[data-icon='heart']
        background-position 4px -32px
        &.active
          background-position 4px 4px
      &[data-icon='discuss']
        background-position -38px -32px
      &[data-icon='dashboard']
        background-position -78px -32px
    &:hover
      background rgb(217, 217, 217)
      .icon
        &[data-icon='heart']
          background-position 4px 4px
        &[data-icon='discuss']
          background-position -38px 4px
        &[data-icon='dashboard']
          background-position -78px 4px