
.guide
  .content
    width 700px
    padding-bottom 30px
    color #000D18
    
    section
      display none
      
      &.show
        display block
    
    p.summary
      font-size 16px
      font-weight 400
      line-height 1.4em
      text-shadow 0px 1px 0px rgba(255, 255, 255, .25)
      margin-bottom 30px
    
    ul
      padding 0
      margin 0
      li
        &.tab
          float left
          width 310px
          color #FFF
          text-shadow 0px 1px 0px #000
          font-size 16px
          font-weight 200
          letter-spacing 2px
          padding 10px 20px
          text-align center
          background-color rgb(0, 34, 64)
          cursor pointer
          
          &.show
            background-color rgb(46, 131, 198)
            