@import "../node_modules/nib/lib/nib/"

$white = #FFF
$black = #404040

$nav-width  = 200px
$img-dim    = 441px

@import "../node_modules/zooniverse/css/top-bar.css"
@import "../node_modules/zooniverse/css/dialog.css"
@import "../node_modules/zootorial/zootorial.css"

@import './common'
@import './pages'
@import './classifier'
@import './annotation'
@import './controls'
@import './profile'
@import './tutorial'
@import './quick_guide'

.zooniverse-top-bar
  position fixed

// Disabling some nav links
nav
  a[data-page="home"]
    font-family futura
  a[data-page="dashboard"]
    pointer-events none
  a[data-page="discuss"]
    pointer-events none
  a[data-page="profile"]
    pointer-events none


body
  background url('images/blue.jpg') repeat
  margin 0 auto
  font-family helvetica neue, helvetica, sans-serif
  color $white
  width 100%
  height 100%
  border-top 5px solid black
  
  p
    font-size 13px
    font-weight 400
    line-height 20px
    margin 1.2em 0 1em 0
  
  // Display control for Spine stack
  .main
    box-sizing border-box
    margin 0 0 0 $nav-width

    > div
      display none
    > .active
      display block
  
  nav
    background rgb(0, 12, 24)
    border-right 1px solid #003056, 55%
    box-shadow 1px 0 22px 0 rgba(#000, 1)
    position fixed
    top 0
    left 0
    z-index 2
    
    float left
    width $nav-width
    height 100%
    margin 0
    padding 0

    &:before
      background #030303
      content ""
      height 100%
      position absolute
      right -2px
      top 0
      width 1px
    
    a
      display block
      box-sizing border-box
      width $nav-width
      padding 60px 0 16px
      border-top 1px solid rgb(0, 30, 54)
      border-bottom 1px solid rgb(0, 30, 54)
      text-align center
      font-size 11px
      text-decoration none
      color $white
      background-repeat no-repeat
      background-position center 20px
      border-left 3px solid rgba(225, 85, 0, 0)
      
      &:hover
        background-color rgb(0, 0, 0)
      &.active
        border-left 3px solid rgb(225, 85, 0)
      
    a[data-page="home"]
      font-size 14px
      font-weight 700
      letter-spacing 4px
      line-height 140px
      padding 0
      text-transform uppercase
      
    a[data-page="classifier"]
      background-image url('images/classify.png')
    a[data-page="science"]
      background-image url('images/science.png')
    a[data-page="guide"]
      background-image url('images/spotter.png')
    a[data-page="dashboard"]
      background-image url('images/dashboard.png')
    a[data-page="profile"]
      background-image url('images/profile.png')
    a[data-page="discuss"]
      background-image url('images/discuss.png')
    a[data-page="feedback"]
      font-size 18px
      padding 36px 0 30px
      

