
$white = #FFF

$nav-width  = 200px
$img-dim    = 401px

@import './mixin'

// @import '../node_modules/zooniverse/css/browser_check'
// @import '../node_modules/zooniverse/css/top_bar_alt'
// @import '../node_modules/zooniverse/css/login_dialog'
// @import '../node_modules/zooniverse/css/dialog_defaults'

@import './classifier'
@import './mark'
@import './science'



.bam
  font-size 300px
  font-weight 100
  transform rotateZ(-20deg)
  position relative
  top -150px
  overflow hidden

body
  background url('images/blue.jpg') repeat
  margin 0 auto
  font-family helvetica neue, helvetica, sans-serif
  color $white
  width 100%
  height 100%
  
  // Display control for Spine stack
  .main
    > div
      display none
    > .active
      display block
      margin-left 350px
  
  .main
    clear both
    position absolute
    top 0
    height 100%
    width 100%
  
  nav
    background rgb(0, 12, 24)
    position absolute
    top 0
    left 0
    bottom 0
    right auto
    z-index 2
    
    float left
    width $nav-width
    height 100%
    margin 0
    padding 0
    
    a
      display block
      box-sizing border-box
      width $nav-width
      padding 70px 0 16px
      border-top 1px solid rgb(0, 30, 54)
      border-bottom 1px solid rgb(0, 30, 54)
      text-align center
      font-size 11px
      text-decoration none
      color $white
      background-repeat no-repeat
      background-position center 20px
      border-left 3px solid rgba(225, 85, 0, 0)
      border-right 3px solid rgba(225, 85, 0, 0)
      
      &:hover
        background-color rgb(0, 0, 0)
      &.active
        border-left 3px solid rgb(225, 85, 0)
      
    a[data-page="home"]
      text-transform uppercase
      margin 60px 0 100px
      font-size 14px
      font-weight 700
      padding 0
      border none
      letter-spacing 4px
      
    a[data-page="classifier"]
      background-image url('images/classify.png')
    a[data-page="science"]
      background-image url('images/science.png')
    a[data-page="dashboard"]
      background-image url('images/dashboard.png')
    a[data-page="profile"]
      background-image url('images/profile.png')
    a[data-page="discuss"]
      background-image url('images/discuss.png')

