.stack > :not(.classifier)
  
  // Offset the same way as the classifier page
  // TODO: abstract this style further.
  margin 4% 0 0 12%
  
  &.home
    text-align: center

    .content
      width: 600px !important

    .home-heading
      font-size: 30px
      font-weight: 300
      margin: 15px 0
      text-shadow: 0 1px 0 #000

    p
      text-shadow: 0 1px 0 rgba(#000, 0.7)

    $bubbleSize = 260px
    .bubble
      background: url(SW_field_440x440.png)
      border-radius: 50%
      box-sizing: border-box
      display: table
      height: $bubbleSize
      margin: 0 auto
      width: $bubbleSize

      .bubble-content
        display: table-cell
        vertical-align: middle

        .metric
          font-size: 33px
          font-weight: 700

        .gap
          height: 26px

        .sub-head
          font-size: 16px
          font-weight: 300
          margin: 0 0 8px 0

  &.faq

    h3
      font-size: 16px
      padding: 0 0 8px 0
      text-shadow: 1px 1px 2px rgba(#000, 0.5)
      text-transform: none
      
      &:before
        content "Q:"
        padding-right 10px

    p
      margin: 8px 0 24px 0
    
      &:before
        font-weight 700
        content "A:"
        padding-right 10px

  .content
    color #EFEFEF
    padding 1px 0 0 0 // cheating
    width 800px
    
    .quote
      font-size 20px
      margin-top 30px
      line-height 40px
      text-align right
    
    h2
      color #000d18
      font-size 11px
      font-weight 600
      text-shadow 0px 1px 0px rgba(255, 255, 255, 0.25)
      text-transform uppercase
      padding 10px 0
      border-bottom 1px solid #003461
      box-shadow 0px 1px 0px #0072C9
    
    .guide-menu
      @extends #clearfix
      @extends #semantic-list
      border-bottom 5px solid black

      li
        box-sizing border-box
        color rgb(46, 130, 191)
        background-color rgb(3, 71, 119)
        cursor pointer
        float left
        font-weight 700
        font-size 16px
        line-height 41px
        text-align center
        padding 0 10px
        width 150px

        &.show
          color #FFF
          background-color black
          text-shadow 0 1px 0 #013a66
    
    &:last-child
      padding 1px 0 50px 0

    > header
      padding-bottom 30px
      text-align center

      h1:last-child
        margin-bottom 0

      p
        font-size 16px
        margin 0 auto
        width 86%
    
    section

      &:not(.show)
        display none
    
    .bio
      
      h4
        letter-spacing 1px
        font-weight 400
      
      .name
        font-size 14px
      
      .twitter
        &:before
          content "\2003"
          
        font-size 12px
        
      p
        padding-bottom 10px
        font-weight 200
        letter-spacing 1px
    
    ul.menu
      @extends #semantic-list
      height 40px
      margin 20px 0
      position relative

      &:before
        content ""
        position absolute
        top 0
        width 100%

      &:after
        bottom 0
        content ""
        left 0
        position absolute
        width 100%

      li
        color #000d18
        cursor pointer
        float left
        font-size 14px
        font-weight 700
        margin 0 30px 0 0
        line-height 41px

        &.show
          color #FFF
          text-shadow none

