
$thumbnail-dim = 160px

// @keyframes spin
//   from {transform: rotate(0deg);   opacity: 0.2; }
//   50%  { transform: rotate(180deg); opacity: 1.0; }
//   to   { transform: rotate(360deg); opacity: 0.2; }

.profile
  h1
    font-size 24px
  
  p
    font-size 12px
    font-weight 100
  
  .subjects
    ul
      padding 0
      li
        display inline-block
        height 190px
        margin-right 30px
        margin-top 20px
        
        img
          margin-bottom -2px
          
        
    //   
    // .subject
    //   position relative
    //   
    //   .overlay
    //     display none
    //     position absolute
    //     width $thumbnail-dim
    //     bottom -1 * $thumbnail-dim
    //     height 30px
    //     background $white
    //     opacity 0.9
    //     z-index 2
    //     cursor pointer
    //     
    //   img
    //     position absolute
    //     display inline-block
    //     margin-right 10px
    //     z-index 1
    //     
    //     &:hover + .overlay
    //       display block