
.tool-container
  position relative
  
  &:hover .tooltip
    display block
  
  .tooltip
    display none
    background-color black
    color #FAFAFA
    position absolute
    left 25%
    top 100%
    padding 8px 10px
    text-align center
    border-radius 2px
    font-family helvetica neue, sans-serif
    font-weight 400
    font-size 10px
    letter-spacing 1px
    opacity 0.8
    
    &:before
      content ""
      position absolute
      top -8px
      left 42.5%
      width 0
      height 0
      border-left 8px solid transparent
      border-right 8px solid transparent
      border-bottom 8px solid black