// 
// .viewer
//   position absolute
//   width 600px
//   height 500px
//   background $white
//   top: 25%
//   left: 25%
//   z-index: 5
//   display: none
//   
//   // .webfits
//   // .controls