.DS_Store
.fits
.fits.fz
npm-debug.log
node_modules/
public/data/
public/subjects/
public/application.js
public/application.css
data-import/beta/*.tgz

data-import/beta/blindlimgs
data-import/beta/finalfiles
data-import/beta/finalimgs
data-import/beta/lensfits
data-import/beta/lensimgs
data-import/beta/simlensonly
data-import/beta/subjects
data-import/beta/betaOld
data-import/beta/simlens_extra

build/
scripts/

*.m4v
*.webm
/test/public/specs.js
